<!DOCTYPE html>
{% load url from future %}
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Morseless</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" />
        <!--[if lt IE 9]><script src="{% static 'script/html5shiv.js' %}"></script><![endif]-->
    </head>
    <body>
        <h1>Morseless</h1>
        {% if text %}
        <section id="results">
            <table>
                <tbody>
                    <tr>
                        <th>Morse</th>
                        <td>{{ morse }}</td>
                    </tr>
                    <tr>
                        <th>Text</th>
                        <td>{{ text }}</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="form" class="form again">
            <h2>Again!</h2>
        {% else %}
        <section id="form" class="form initial">
        {% endif %}
            <form>
                <div>
                    <label for="morse">Morse:</label>
                    <input type="text" name="morse" id="morse" />
                </div>
                <div class="buttons">
                    <input type="submit" value="Decode" />
                </div>
            </form>
        </section>

        <aside>
            <p>A microsite by <a href="http://alleged.org.uk/pdc/">Damian Cugley</a>.</p>
            <p>Here’s a bookmarklet for adding mouseover translations to the current page: <a class="bookmarklet" href="{{ bookmarklet_url }}">Morseless</a> – drag it to your bookmarks bar.</p>
        </aside>

        <script type="text/javascript" src="{% static 'script/jquery-1.8.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'script/csrf_for_ajax.js' %}"></script>

        <script type="text/javascript" src="{% static 'script/log4javascript_uncompressed.js' %}"></script>
        <script type="text/javascript" src="{% static 'script/logging.conf.js' %}"></script>

        <script type="text/javascript" src="{% static 'script/morseless.js' %}"></script>
        <script type="text/javascript">
            $(function () {Morseless.init('{% url "decode" %}')});
        </script>
    </body>
</html>
