# Only used on development.
DEBUG=y

# In production this is a random value and must be kept secret.
# In practice siunce we do not store info in user sessions it is moot.
SECRET_KEY=secret-key-value

# This app does not use a database, so no DATABASE_URL required.

# Production will need to set
# ALLOWED_HOSTS (can be comma-separated list)
